{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Ean13</th>
                <td>{{ product.ean13 }}</td>
            </tr>
            <tr>
                <th>ImagesList</th>
                <td>{{ product.imagesList ? product.imagesList|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>MainImage</th>
                <td>{{ product.mainImage }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ product.brand }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">back to list</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
