{% extends 'base.html.twig' %}

{% block title %}CartLine index{% endblock %}

{% block body %}
    <h1>CartLine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart_line in cart_lines %}
            <tr>
                <td>{{ cart_line.id }}</td>
                <td>
                    <a href="{{ path('cart_line_show', {'id': cart_line.id}) }}">show</a>
                    <a href="{{ path('cart_line_edit', {'id': cart_line.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cart_line_new') }}">Create new</a>
{% endblock %}
