{% extends 'base.html.twig' %}

{% block title %}New CartLine{% endblock %}

{% block body %}
    <h1>Create new CartLine</h1>

    {{ include('cart_line/_form.html.twig') }}

    <a href="{{ path('cart_line_index') }}">back to list</a>
{% endblock %}
